body {
	 background: url("../Images/clouds.jpg");

	}

.jumbotron{
	text-align: center;
	font-family: 'Nosifer', cursive;
	color:#CF1E09;
	background: #E1CBC9;
	}	

.row{ 
	margin: 20px;
 
	}

h2 {
	color:#E46051;
	font-size: 38px;
	font-family: 'Patua One', cursive;
	}

#wins{
	color:white;
	}

#losses{
	color:white;
	}

#guesses-left{
	color:white;
	}

#guesses{
	color:white;
	}

.navbar{
	text-align: center;
	padding-top: 15px;
	background-color: #EEEEEE;
	}